extends layout

block content

 .wrapper
    .page-header.page-header-small
        .page-header-image(data-parallax='true' style="background-image: url('/assets/img/background/library-bg.jpg');")
        .content-center
            .container
                h1.title.Cinzel-Decorative-font Grandes Novelas de
                .col.d-flex.justify-content-center
                    h1(data-heading='Aventuras').Cinzel-Decorative-font.display-1.main-title Aventuras
    .section.section-about-us
        .container
            .row
                .col-md-8.ml-auto.mr-auto.text-center
                    h2.title.font-weight-light ¿Para quién es esta página?
                    h5.description
                        | Para todos aquellos interesados en la colección
                        b.text-warning=" Grandes Novelas de Aventuras "
                        |  de la editorial Salvat y quieran seguir semana tras semana los lanzamientos de esta magnífica colección.
            .separator.separator-primary
            .section-story-overview
                .row
                    .col-sm-6
                       .row.ilustration-images-row.justify-content-center
                            img(src='/assets/img/ilustraciones/ilustracion (1).png' style="margin-right: -40px")
                            img(src='/assets/img/ilustraciones/ilustracion (3).png' style="margin-left: -50px").img-responsive
                    .col-sm-6
                        .row.ilustration-images-row.right-row.justify-content-center
                            img(src='/assets/img/ilustraciones/ilustracion (2).png' style="margin-right: -40px; margin-left: -40px").img-responsive
                            img(src='/assets/img/ilustraciones/ilustracion (5).png' style="margin-left: -80px").img-responsive

                        // First image on the right side, above the article

                        h3.text-robinson-light-green.font-weight-normal La nueva obra editorial consta de 60 entregas con ilustraciones
                        p
                            | La técnica del grabado fue especialmente fructífera en el período del Romanticismo, cuando adquirió su condición plena de género artístico. Su técnica y ejecución permitieron dar rienda suelta a los sentimientos, miedos y anhelos de cada novela, dotándolas de personalidad propia.

    .section.section-team.text-center

          //.alert.alert-danger(role='alert')
            | Queridos/as coleccionistas de Salvat queremos informarles que desde las paginas oficiales de Salvat se ha informado que la actual entrega se encuentra retrasada por motivos de la aduana argentina.

          //book grids
          .container-xl
            .section-title
                h3.Cinzel-Decorative-font Entregas
            - var books = data.books
            .row.mx-1
              each book in books
                .col.col-xxl-3.col-xl-4.col-lg-6.col-md-12.col-sm-12.col-xs-12.d-flex.align-items-stretch.justify-content-center
                  .card.mb-4
                     .row.d-flex.justify-content-center
                         img.card-img-top(src=book.picture, alt='...').card-book-image.m-2
                     .card-body
                         h3.h3-reponsive.card-title=book.title
                         h6.h6-reponsive.card-subtitle.mb-2.text-muted=book.author
                         ul.list-group.list-group-flush
                            //all the book info
                            li.list-group-item.p-0
                                .card-text
                                //prices info
                                .container.fluid.mt-4.section-prices
                                    .row.d-flex.justify-content-center
                                        h5.h5-reponsive="Precio de Venta: $"+ book.price
                                        h5.h5-reponsive.ml-1.text-info=" + $45 (Recargo Interior)"
                                // release info
                                if book.wasReleased
                                    h5.h5-reponsive="Lanzamiento: " + book.releaseDate
                                else
                                    h5.h5-reponsive="Fecha estimada de lanzamiento* : " + book.releaseDate
                            li.list-group-item.p-0
                              // extra info
                              .card-footer.text-muted
                                 if book.wasReleased
                                   span.badge.badge-success Ya en Kioscos
                                 else
                                   span.badge.badge-primary Proximamente
                                 h6.h6-reponsive.my-3="ISBN: " + book.ISBN
                                 h6.h6-reponsive.mb-3=book.editorial
                                 h6.small.text-danger="(*Las fechas de entrega pueden variar segun la provincia)"


    .section.section-contact-us.text-center
        .container
            // Alerta mensaje enviado
            if data.messageSent
             .alert.alert-warning(role='alert')
                .container
                    .alert-icon
                        i.now-ui-icons.ui-2_like
                    strong Muchas Gracias por tu mensaje!
                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                        span(aria-hidden='true')
                            i.now-ui-icons.ui-1_simple-remove

            h2.title.font-weight-light Queres dejar un mensaje?
            p.description No hace falta que uses tu nombre verdadero.
            .row
                .col-lg-6.text-center.col-md-8.ml-auto.mr-auto
                    form(action='/message/send' method='POST')
                      .form-group
                        .input-group.input-lg
                            .input-group-prepend
                                span.input-group-text
                                    i.now-ui-icons.users_circle-08
                            input.form-control(id="weiter" name='writer' type='text' placeholder='Nombre o Apodo...')
                        //.input-group.input-lg
                            .input-group-prepend
                                span.input-group-text
                                    i.now-ui-icons.ui-1_email-85
                            input.form-control(type='text' placeholder='Email...')
                        .textarea-container
                            textarea.form-control(id="message" name='message' rows='4' cols='80' placeholder='Escribe tu mensaje...')
                        .send-button
                            button.btn.btn-warning.btn-round.btn-block.btn-lg(type='submit') Enviar


    footer.footer.footer-default
        .container
            nav
                ul
                    li
                        a(href='https://ar.salvat.com/')
                            | Salvat Argentina
                    li
                        a(href="mailto:soathekid@gmail.com")
                            | Mi Email
                    li
                        a(href='https://brihet.com.ar/product/grandes-novelas-de-aventuras/')
                            | Donde Comprar?
            #copyright.copyright
                | &copy;
                script.
                  document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))

                | . Coded by
                a(href='mailto:soathekid@gmail.com' target='_blank').text-warning  Soathekid
                | .

