extends layout

block content
  //top nav bar
  nav.navbar.navbar-light.navbar-transparent
    .container
        a.navbar-brand.nav-link(href='https://ar.salvat.com/colecciones/grandes-novelas-aventuras/index.html#obra') Pagina Oficial

  .container
    .row.d-inline
      .col.d-flex.justify-content-center
        h1.Cinzel-Decorative-font.display-3.text-white Grandes Novelas de
      .col.d-flex.justify-content-center
        h1(data-heading='Aventuras' contenteditable='').Cinzel-Decorative-font.display-1.main-title Aventuras

  // book grids
  .container-xl.m-5
    - var books = list
    .row
      each book in books
        .col.col-xl-6.col-lg-6.col-md-12.col-sm-12.d-flex.align-items-stretch.justify-content-center
          .card.mb-3(style='max-width: 940px;')
            .row.no-gutters
              .col-md-4
                img(src=book.picture, alt='...')
              .col-md-8
                .card-body
                  h3.card-title=book.title
                  h6.card-subtitle.mb-2.text-muted=book.author
                  p.card-text
                  blockquote.blockquote.blockquote-green.mb-0
                    p=book.description
                  h5.card-text.my-3="ISBN: " + book.ISBN
                  h6.card-text="Precio de Venta: $"+ book.price
                  h6.text-danger="+ $45 (Recargo Interior)"
                  p.card-text
                    h6="Fecha de lanzamiento en Argentina: " + book.releaseDate
