extends layout

block content
  //title container
  .container.mt-5
    .row.d-inline.pt-5
      .col.d-flex.justify-content-center.mt-5
        h2.Cinzel-Decorative-font.display-3.text-white.section-title Grandes Novelas de
      .col.d-flex.justify-content-center
        h1(data-heading='Aventuras').Cinzel-Decorative-font.display-1.main-title Aventuras
  //book grids
  .container-xl.m-5
    - var books = list
    .row
      each book in books
        .col.col-xl-4.col-lg-12.col-md-12.col-sm-12.d-flex.align-items-stretch.justify-content-center
          .card.mb-4(style='max-width: 940px;')
                .row.d-flex.justify-content-center
                    img.card-img-top(src=book.picture, alt='...').card-book-image.m-2
                .card-body
                  h3.h3-reponsive.card-title=book.title
                  h6.h6-reponsive.card-subtitle.mb-2.text-muted=book.author
                  //all the book info
                  .card-text
                    //prices info
                    .container.fluid.mt-4.section-prices
                      .row.d-flex
                        h5.h5-reponsive="Precio de Venta: $"+ book.price
                        h5.h5-reponsive.ml-1.text-info=" + $45 (Recargo Interior)"
                    // release info
                    if book.wasReleased
                       h5.h5-reponsive="Lanzamiento en Argentina* : " + book.releaseDate
                    else
                       h5.h5-reponsive="Fecha estimada de lanzamiento* : " + book.releaseDate
                  // extra info
                  .card-footer.text-muted.mb-2
                    if book.wasReleased
                          .container.fluid.section-prices
                              .row.text-success
                                  h6.h6-reponsive.small.mr-2="Lanzado"
                                  i.now-ui-icons.ui-1_check.font-weight-bold
                    else
                          .container.fluid.section-prices
                              .row.text-warning
                                  h6.h6-reponsive.small.mr-2="Proximamente"
                                  i.now-ui-icons.loader_refresh.font-weight-bold
                    h6.h6-reponsive.my-3="ISBN: " + book.ISBN
                    h6.h6-reponsive.small=book.editorial
                    small.text-muted="(*Las fechas de entrega pueden variar)"
